/*
Author: W3layout
License: Creative Commons Attribution 3.0 Unported
*/

html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #000;
}

body a,
.btn-agile,
a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-size: 2em;
    color: #ffeb3b;
    text-shadow: 1px 1px 1px #000;
    font-weight: 600;text-align: center;
    margin-bottom: 20px;
}
h3{
    font-size: 2em;
    color: #ffeb3b;
    text-shadow: 1px 1px 1px #000;
    font-weight: 600;text-align: center;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    color: #007bff;
}
p {
    line-height: 1.8;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

/* banner */

/* header */

h1 a.navbar-brand {
    font-size: 0.8em;
    font-weight: 800;
    color: #ab3031;
    line-height: 24px;
    padding-bottom: 0;
}

h1 a.navbar-brand span {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link {
    color: #0093ff;
}

button.btn.btn-agile.btn-block.w-25 {
    background: #f7eb48;
    font-weight: 600;
}

a.btn:hover {
    background: #ffeb3b;
    color: #000;
}

/*--/navbar--*/

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
    background: #f7eb48;
    top: 0px;
}

/*--logo--*/

/*-- //header --*/

/* banner */

.dropdown-item.active,
.dropdown-item:active {
    background: #fff;
    color: #c9333f;
}

.banner {
    background:#201f1f url(../images/banner2.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;}

.banner-text-agile {text-align: center;
    padding: 12vw 0;
    box-sizing: border-box;
}

h1.b-w3ltxt span {
    font-weight: 100;
    text-shadow: none;
    letter-spacing: 1px;
    color: #fff;
}

.header-top {
    padding: 1em 0;
    background: #FFEB3B;
}

/* navigation */

/*--/header --*/

header.mainheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav.navbar.second {
    border: none !important;
    transition: all 1s ease;
}

/*--/navbar--*/

/*-- /nav.navbar.second --*/

nav.navbar.second {
    border: none !important;
    transition: all 1s ease;
}

nav.navbar.shrink.pagescrollfix {
    width: 100%;
    box-shadow: 0 1px 0 0 #dadada;
    position: fixed;
    left: 0px;
    transition: all 1.2s ease;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #ffeb3b !important;
    z-index: 9;
    top: 0;
    transition: all 1.5s ease;
}

nav.navbar.shrink .navbar-toggler {
    transition: all 1.5s ease;
}

.bg-transparent {
    background: transparent;
}

/*-- //nav.navbar.second --*/

/* //navigation */

h1.b-w3ltxt {
    font-size: 3em;
    color: #ffeb3b;
    text-shadow: 1px 1px 1px #000;
    font-weight: 600;
}
.carousel-item p {
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 19px;
}

.btn-banner {
    background: #fff;
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    padding: 9px 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: -53px;
    margin-left: 0;
    justify-content: flex-start;
    z-index: 1;
}

.carousel-indicators li {
    cursor: pointer;
}
ul {
    color: #ffe000;
}

ul.social-iconsv2 li {
    display: inline-block;
    border-radius: 50%;
}

ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
}

ul.social-iconsv2 li a i.fab {
    font-size: 18px;
    line-height: 38px;
    width: 30px;
    height: 37px;
    color: #000;
    margin-right: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

ul.social-iconsv2 li:first-child a {
    color: #3b5998;
}

ul.social-iconsv2 li:last-child {
    color: #287bbc;
}

/* //banner */

.serv_bottom {
    background:#000546;
}

.about-text-grid {
    padding-left: 4em;
}

.bg-theme {
    color: #fff !important;
    background: #FF5722 !important;
}

.abbot-right img {
    box-shadow: 0px 3px 10px 5px rgba(144, 141, 141, 0.96);
}

.abbot-right {
    position: relative;
    z-index: 0;
}

.abbot-right span {
    border: 9px solid #d6d6d6;
    position: absolute;
    width: 530px;
    height: 425px;
    left: -22px;
    top: -29px;
    z-index: -1;
}

h2.agile-ser_bot {
    font-size: 1.8em;
    line-height: 1.5;
}

a.serv_link {
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 8px 36px;
    border-radius: 20px;
    background: #ffeb3b;
}

/* about bottom */

h3.stat-title {
    color: #000;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000000;
}

/* //about bottom */

/* pricing */

.w3ls-pricing.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem;
    position: relative;
    background: #006879;
}

.w3ls-pricing.card i {
    position: absolute;
    right: 40px;
    bottom: 23px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.32);
}

section#services,
#contact {
    background: url(../images/services.jpg) no-repeat center;
    background-size: cover;
}

a.price_link {
    color: #eee;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 5px 14px;
    border-radius: 20px;
    font-size: 13px;
    background: #bb2d46;
}

.card-title {
    margin-bottom: 3em;
    font-size: 14px;
    color: #fff;
}

.w3ls-pricing.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.w3ls-pricing.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

h4.serv-title {
    font-size: 1.5em;
    font-weight: 600;
    color: #17a2b8;
}

.w3ls-pricing.card:hover,
.w3ls-pricing.card.service-active {
    transform: scale(1.15);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    z-index: 1;
}

.w3ls-pricing.card:hover p,
.w3ls-pricing.service-active p {
    color: #000;
}

.w3ls-pricing.card.service-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

.w3ls-pricing.card:hover:after {
    width: 100%;
}

.w3ls-pricing .card-header {
    color: #000;
    background: transparent;
    padding-left: 0;
    border-bottom: none;
    text-transform: capitalize;
}

h4.price-title {
    font-size: 1.2em;
}

.w3ls-pricing .card-block {
    padding-top: 0;
}

/* //pricing */

/*-- text Slider --*/

.testimonials {
    background: url(../images/yellow.jpg) no-repeat center;
    background-size: cover;
    padding: 6em 0;
}

#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
}

ul.callbacks_tabs {
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: 50px;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    display: inline-block;
    height: 10px;
    width: 15px;
    border-radius: 10px;
    background: #17a2b8;
}

.callbacks_here a:after {
    background: #c9333f;
}

/*
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 78%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	left: auto;
	background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
	left: auto;
	background: url("../images/next.png") no-repeat 0px 0px;
	right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}*/

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs li {
    display: inline-block;
}

.callbacks_tabs a {
    visibility: hidden;
    width: 20px;
    line-height: 19px;
    height: 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    display: block;
    background: #fff;
    border-radius: 50%;
}

.callbacks_tabs a:hover {
    background: #1165f3;
    color: #fff;
}

.testi-agile {
    position: relative;
    padding: 4em 0 10em;
}

.testi-pos {
    position: absolute;
    bottom: 40px;
    left: 44%;
}

.testi-agile h4 {
    color: #000;
    font-size: 1em;
    text-transform: capitalize;
    margin: 1em 0 0.5em;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.testi-agile p {
    width: 80%;
    margin: 1em auto 0;
    color: #000;
    padding: 4em 2em 5em;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 10px 0px #777129;
    -moz-box-shadow: 1px 1px 10px 0px #777129;
    box-shadow: 1px 1px 10px 0px #777129;
}

/* //testimonials */

/* footer */

.footer_grid1 span {
    color: #189ba7;
    line-height: 1.5;
}

.list-unstyled li span {
    color: #000;
    font-weight: 600;
}

input[type="submit"] {
    cursor: pointer;
}

#footer h5 {
    margin-bottom: 20px;
    color: #000000;
    text-transform: capitalize;
    font-size: 1.4em;
}

#footer ul.social li {
    padding: 3px 0;
}

.footer-logo h2 a {
    color: #ab3031;
    font-size: 0.9em;
    text-transform: capitalize;
}

.footer-logo p {
    font-size: 14px;
}

.footer-logo h2 a span {
    display: block;
    font-size: 0.5em;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 3px;
    font-weight: 600;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #000;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    color: #000;
}

#footer ul.quick-links li a:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
    color: #189ba7;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

fv3-contact span {
    color: #56ab2f;
    font-size: 1.2em;
    display: inline-block;
    background: #eee;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.fv3-contact p {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-size: 15px;
}

.fv3-contact p a {
    color: #333;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*-- footer */

/*-- services --*/

#service {
    background: #fff;
}

.contact-top {
    background: url(../images/red.jpg)no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.content-contact-top {
    padding: 8em;
}

/*--contact--*/

.w3-contact {
    background: #fff;
}

.contact-bottom h5,
.wthree-form-left h5 {
    color: #000;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.contact-right-w3ls span {
    background: #52b3cc;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #eee;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.fv3-contact h6 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}

.address h5 {
    color: #000;
    text-transform: capitalize;
    font-size: 1.1em;
}

.address p a,
p.c-txt {
    color: #777;
}

.address p a:hover {
    color: #000;
}

form.contact-wthree label {
    width: 30%;
    line-height: 2.5;
    color: #000;
    font-weight: 600;
}

form.contact-wthree .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #eee;
}

.contact-top1 h5 {
    font-size: 2em;
}

.address h5 {
    font-size: 1.5em;
}

/*--//contact--*/

.icon i {
    width: 100px;
    height: 100px;
    color: #ffffff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 3em;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    background: #ff5722;
}

.services-box h4 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 1em 0;
    color: #000;
    font-weight: 600;
}

.team-block h5 {
    color: #10aebd;
    text-transform: capitalize;
    font-size: 1.3em;
}

.team-block h5 {
    color: #10aebd;
    text-transform: uppercase;
    font-size: 1.2em;
}

.team-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.43);
    bottom: 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    top: 0px;
    left: 0;
    text-align: center;
}

.team-content h4 {
    background: #252323;
    padding: 10px 0;
    font-size: 1.2em;
    text-transform: capitalize;
}

h5.blog-title {
    font-size:26px;
    color:#0087ff;
    margin-bottom: 1em;
}

section.section-events {
    background:#090131;
}

.sub-sec-grid {
    background:#0c0048;
}

.pos-date {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: .3s all ease-in-out;
    background: #ffeb3b;
    border: 5px solid #ffffff;
    top: 50%;
    left: 31.5%;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    /* transform-origin: top left; */
    text-align: center;
}

.pos-date-even {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: .3s all ease-in-out;
    background: #ffeb3b;
    border: 3px solid #eeeeee;
    top: 50%;
    right: 22.5%;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    /* transform-origin: top left; */
    text-align: center;
}

.date-grid-agile-left {
    padding-right: 4em;
}

.date-grid-agile-right {
    padding-left: 2em;
}

.sub-sec-grid:hover .pos-date,
.sub-sec-grid:hover .pos-date-even {
    background: #20a1b6;
}

.pos-date__inner {
    position: absolute;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transition: .3s all ease-in-out;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.pos-date__title {
    position: relative;
    font-size: 2rem;
}

.pos-date__title:after {
    position: relative;
    background: #f64861;
    width: 40px;
    height: 3px;
    top: 0;
    display: block;
    content: '';
    margin: 8px auto 0;
}

.team-img {
    position: relative;
    margin: 1em 0 0;
}

.team-img img {
    width: 100%;
}

.overlay {
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #11181f;
}

.team-img:hover .overlay {
    opacity: .8;
}

.team-img:hover .team-content {
    opacity: 0;
}

.text {
    position: absolute;
    top: 35%;
    left: 26%;
    width: 100%;
    transform: translate(-26%, -26%);
    -ms-transform: translate(-26%, -26%);
    right: 0;
    font-weight: 400;
    font-size: 16px;
}

/* //blog */

.cpy-right {
    background:#040248;
}

.cpy-right p a {
    color:#0ea4ff;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* -- Responsive code -- */

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1080px) {
    .abbot-right span {
        width: 453px;
        height: 377px;
        left: -25px;
    }
    .pos-date {
        top: 38%;
    }
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
    h3.b-w3ltxt {
        font-size: 2.6em;
    }
    .abbot-right span {
        width: 86%;
        height: 366px;
    }
    .about-text-grid {
        padding-left: 0em;
        margin-top: 2em;
    }
    h3.stat-title {
        font-size: 2.5em;
    }
    .testi-agile p {
        width: 99%;
    }
    .content-contact-top {
        padding: 4em;
    }
    .pos-date {
        top: 65%;
        left: 50%;
    }
    .pos-date-even {
        top: 35%;
        right: 37.5%;
    }
}

@media screen and (max-width: 900px) {
    .testimonials {
        padding: 4em 0 2em;
    }
}

@media screen and (max-width: 800px) {
    h3.b-w3ltxt {
        font-size: 2.5em;
    }
    h4.agile-ser_bot {
        font-size: 1.6em;
    }
    .w3ls-pricing.card:hover,
    .w3ls-pricing.card.service-active {
        transform: scale(1.05);
    }
    .testi-pos {
        left: 41%;
    }
}

@media screen and (max-width: 768px) {
    h3.b-w3ltxt {
        font-size: 2.2em;
    }
    .abbot-right span {
        width: 76%;
        left: 39px;
    }
}

@media screen and (max-width: 736px) {
    .carousel-item p {
        font-size: 16px;
    }
    .abbot-right span {
        width: 86%;
        height: 400px;
    }
    .about-text-grid {
        margin-top: 4em;
    }
    .pos-date {
        top: 55%;
    }
    .pos-date-even {
        top: 45%;
    }
}

@media screen and (max-width: 667px) {
    h4.agile-ser_bot {
        font-size: 1.5em;
    }
    .content-contact-top {
        padding: 3em 1em;
    }
}

@media screen and (max-width: 640px) {
    .testi-agile {
        padding: 2em 0 10em;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 568px) {
    .abbot-right span {
        border-color: transparent;
    }
    .about-text-grid {
        padding-left: 1em;
        margin-top: 3em;
    }
    h3.stat-title {
        font-size: 2.3em;
    }
    .w-75 {
        width: 100% !important;
    }
    .contact-right-w3ls span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 480px) {
    h3.b-w3ltxt {
        font-size: 1.8em;
    }
    .btn-banner {
        font-size: 13px;
        padding: 6px 14px;
    }
    .carousel-item p {
        font-size: 15px;
        width: 60%;
    }
    p a.navbar-brand {
        font-size: 0.7em;
    }
    p a.navbar-brand span {
        font-size: 12px;
        letter-spacing: 2px;
    }
    h4.agile-ser_bot {
        font-size: 1.3em;
    }
    a.serv_link {
        letter-spacing: 0px;
        padding: 6px 22px;
        font-size: 14px;
    }
    h3.stat-title {
        font-size: 2em;
    }
    .testi-agile p {
        padding: 2em 2em 4em;
    }
    .testi-pos {
        left: 38%;
    }
    .pos-date {
        top: 51%;
        left: 54%;
    }
    .pos-date-even {
        top: 49%;
    }
    .date-grid-agile-right {
        padding-left: 1em;
    }
    .date-grid-agile-left {
        padding-right: 1em;
    }
    .pos-date__inner {
        left: 48%;
    }
    .contact-bottom h5, .wthree-form-left h5 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 414px) {
    .carousel-item p {
        font-size: 15px;
    }
    section#sub-services h3.stat-title {
        font-size: 1.8em;
    }
    .icon i {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 2em;
    }
    .pos-date {
        top: 24%;
    }
    .pos-date-even {
        top: 71%;
        right: 39%;
    }
}

@media screen and (max-width: 384px) {
    .header-top p {
        font-size: 15px;
    }
    .carousel-item p {
        width: 64%;
    }
    h4.agile-ser_bot {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    h3.stat-title {
        font-size: 1.8em;
    }
    section#sub-services h3.stat-title {
        font-size: 1.6em;
    }
    .testimonials {
        padding: 2em 0 1em;
    }
    .pos-date-even {
        top: 80%;
    }
    .fv3-contact h6 {
        font-size: 0.95em;
    }
    #footer h5 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 375px) {
    .contact-add {
        padding-left: 2em;
    }
    form.contact-wthree label {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 320px) {
    .header-top p {
        font-size: 12px;
    }
    ul.social-iconsv2 li a i.fab {
        margin-right: 5px;
    }
    h3.b-w3ltxt {
        font-size: 1.5em;
    }
    .carousel-item p {
        width: 80%;
        font-size: 14px;
    }
    .carousel-indicators {
        bottom: -40px;
    }
    h4.agile-ser_bot {
        font-size: 1.15em;
    }
    section#sub-services h3.stat-title {
        font-size: 1.4em;
    }
    h3.stat-title {
        font-size: 1.8em;
    }
    .testi-pos {
        left: 31%;
    }
}

/* -- //Responsive code -- */